<div class="content">
  <h1 class="h1">Tasks</h1>
  <div class="empty">
    <app-empty-state *ngIf="showEmptyState">
      Noch keine Tasks vorhanden.<br/>
      Füge einen neuen Task hinzu.
    </app-empty-state>
  </div>
  <div class="Tasks" *ngFor="let task of newtask$ | async">
    <app-task 
    [name]="task.name" 
    (onEdit)="editTask(task)"
    (onClick)="toggleDone(task)"
    (onDelete)="deleteTask(task)"></app-task>
  </div>

  <div class="fab">
    <button class="addTask" (click)="onNewTaskClick()">+</button>
  </div>
</div>
