<div class="main">
    <div class="new-list">
      <h1 class="titel">Task bearbeiten</h1>
      <form (ngSubmit)="submittask(task)">
        <app-input
          [(ngModel)]="task"
          (onChange)="onChange($event)"
        ></app-input>
        <div class="column">
          <div class="buttons">
            <button class="btnAbbruch" type="button" (click)="abbruch()">
              Abbruch
            </button>
            <button class="btnSpeichern" type="submit">Speichern</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  